---
# Main CSS file for importing partials
---

@import "normalize";
@import "skeleton";

@import "navbar";
@import "hero";
@import "footer";

body {
  margin: 2.0rem auto;
}

.section-heading {
  @extend strong;
  text-align: center;
  text-transform: uppercase;
}

.title {
  @extend strong;
  text-align: left;
}
