<div class="container">
   <div class="row">

    <hr>

    <div class="three columns offset-by-one">
      <a href="https://github.com/nwtnni" class="button is-hovering is-full" target="_blank">
        <i class="fa fa-github"></i>
        <span class="is-collapsing">Github</span>
      </a>
    </div>
    <div class="three columns offset-by-one">
      <a href="mailto:nwtnni@gmail.com" class="button is-hovering is-full" target="_blank">
        <i class="fa fa-envelope"></i>
        <span class="is-collapsing">Gmail</span>
      </a>
    </div>
    <div class="three columns offset-by-one">
      <a href="https://twitter.com/nwtnni" class="button is-hovering is-full" target="_blank">
        <i class="fa fa-twitter"></i>
        <span class="is-collapsing">Twitter</span>
      </a>
    </div>
  </div>
</div>
