<div class="container navbar">
   <nav>
    <div class="row">
      <hr>
      <ul>
        <div class="two columns offset-by-two column">
          <li>
            <a href="/" class="navbar-link is-hovering">Home</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/about/" class="navbar-link is-hovering">About</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/assets/resume.pdf" class="navbar-link is-hovering" target="_blank">Resume</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/archive/" class="navbar-link is-hovering">Archive</a>
          </li>
        </div>
      </ul>  
    </div>
    <div class="row"><hr></div>
  </nav> 
</div>
