<div class="container" id="navbar">
   <nav>
    <div class="row">
      <hr>
      <ul>
        <div class="two columns offset-by-one">
          <li><a href="#"><strong>Home</strong></a></li>
        </div>
        <div class="two columns">
          <li><a href="#"><strong>About</strong></a></li>
        </div>
        <div class="two columns">
          <li><a href="#"><strong>Projects</strong></a></li>
        </div>
        <div class="two columns">
          <li><a href="#"><strong>Blog</strong></a></li>
        </div>
        <div class="two columns">
          <li><a href="#"><strong>Contact</strong></a></li>
        </div>
      </ul>  
    </div>
    <div class="row"><hr></div>
  </nav> 
</div>
