<div class="container navbar">
   <nav>
    <div class="row">
      <hr>
      <ul>
        <div class="two columns">
          <li>
            <a href="/" class="navbar-link is-hoverable">Home</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/about/" class="navbar-link is-hoverable">About</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/contact/" class="navbar-link is-hoverable">Contact</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/projects/" class="navbar-link is-hoverable">Projects</a>
          </li>
        </div>
        <div class="two columns">
          <li>
            <a href="/posts/" class="navbar-link is-hoverable">Posts</a>
          </li>
        </div>

        <div class="two columns">
          <li>
            <a href="/#" class="navbar-link is-hoverable">Resume</a>
          </li>
        </div>
      </ul>  
    </div>
    <div class="row"><hr></div>
  </nav> 
</div>
