.hero {
  margin: 3.0rem auto;
  padding: 7.0rem 0;
  border-radius: 2.0rem;
}  

.hero-heading {
  margin: 1.0rem auto;
  text-align: center;
} 

.hero-profile {

  background-size: cover;

  @include break-min($mobile-width) {
    background-image: none; 
  }

  @include break-min($phablet-width) {
    background-image: url("/assets/profile.png"); 
  }
}

