.post-date {
  @include break-min($mobile-width) {
    text-align: left;
  }

  @include break-min($phablet-width) {
    text-align: right;
  }
}

.post-title {
  text-decoration: none;
  color: $text;
  padding: 0;    
  @extend strong;

  &:first-of-type {
    margin-top: 3rem;
  }
}

