.project-button {
  position: relative;
  padding-bottom: 100%;
  margin-top: 3rem;
  width: 100%
}

.project-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50vw;

  @include break-min($phablet-width) {
    font-size: 10vw;
  }
}