.is-full {
  width: 100%;
}

.is-hovering {
  &:hover {
    color: $hover;
  }
}

.is-collapsing {
  @include break-min($mobile-width) {
    display: none;
  }

  @include break-min($desktop-width) {
    display: inline;
  }
}

.button-left {
  float: left;
  margin-right: 2%;
  width: 25%;
}

.button-right {
  float: right;
  margin-left: 2%;
  width: 25%;
}