.is-full {
  width: 100%;
}

.is-hovering {
  &:hover {
    color: $hover;
  }
}

.is-collapsing {
  @include break-min($mobile-width) {
    display: none;
  }

  @include break-min($desktop-width) {
    display: inline;
  }
}


