$active: #009EFF;

footer {

  .button:hover {
    color: $active;
  }

  /* Larger than mobile */
  @media (min-width: 0px) {

    .button {
      width: 1rem;
    }

    .collapse {
      font-size: 0;
    }
  }

  /* Larger than tablet */
  @media (min-width: 800px) {
    
    .button {
      width: 14rem;
    }

    .collapse {
      font-size: 1rem;
    }
  }
}