<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <meta name="author" content="{{ config.extra.author }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather+Sans:400,700|Merriweather:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <hr>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="https://github.com/nwtnni/resume/blob/master/resume.pdf">Resume</a>
    </nav>
    <hr>
    {% block body %}
    {% endblock body %}
    <hr class="divider">
    <nav>
      <a href="https://github.com/nwtnni" class="button"><i class="icon-github"></i><span class="collapse"> GitHub</span></a>
      <a href="mailto:nwtnni@gmail.com" class="button"><i class="icon-mail"></i><span class="collapse"> Gmail</span></a>
      <a href="https://www.linkedin.com/in/nwtnni" class="button"><i class="icon-linkedin"></i><span class="collapse"> LinkedIn</span></a>
      <a href="https://twitter.com/nwtnni" class="button"><i class="icon-twitter"></i><span class="collapse"> Twitter</span></a>
    </nav>
  </body>
</html>
