<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Raleway&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontello.css">
  </head>
  <body>

    <header>
      <hr>
      <nav>
        <a href="/">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">RESUME</a>
        <a href="#">ARCHIVE</a>
      </nav>
      <hr>
    </header>

    {% block body %}

    {% endblock body %}

    <footer>
      <hr>
      <nav>
        <a href="#" class="button"><i class="icon-github"></i>GITHUB</a>
        <a href="#" class="button"><i class="icon-mail"></i>GMAIL</a>
        <a href="#" class="button"><i class="icon-linkedin"></i>LINKEDIN</a>
        <a href="#" class="button"><i class="icon-twitter"></i>TWITTER</a>
      </nav>
    </footer>
  </body>
</html>
