{% extends "base.html" %}

{% block title %}
  {{ super() }} | Blog
{% endblock title %}

{% block description %}
  Archived blog posts.
{% endblock description %}

{% block body %}
  {% for page in section.pages %}
    <section>
      <header>
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="date">{{ page.date | date(format="%b %e, %Y")}}</h2>
      </header>

      {{ page.description | safe }}

      <nav>
        <a href="{{ page.path }}" class="button"><i class="icon-right"></i> Read More</a>
      </nav>

      {% if not loop.last %}
        <hr class="divider">
      {% endif %}
    </section>
  {% endfor %}
{% endblock body %}
