---
layout: default
---

<div class="container">

  {% if page.template == true %}
    {% assign posts = site.categories.[page.category] %}
  {% else %}
    {% assign posts = site.posts %}  
  {% endif %}

  {% for post in posts %}
    <div class="row">
      <div class="two columns post-title post-date">
        {{ post.date | date: site.date_format }}        
      </div> 
      
      <div class="ten columns">
          <h5 class="post-title">{{ post.title }}</h5>
      </div>
    </div>

    <div class="row">
      <div class="ten columns offset-by-two">

        {{ post.excerpt }} 

        <a href="{{ post.url }}" class="button button-left is-hovering">
          <i class="fa fa-arrow-circle-right"></i> Read More
        </a>

        {% for category in post.categories %} 
          <a href="/category/{{ category }}" class="button button-primary button-right">
            <i class="fa fa-tag"></i> {{ category }}
          </a> 
          

        {% endfor %} 
      </div>
    </div>
  
    {% if post != site.posts.last %}
    <div class="row">
      <hr>
    </div>
    {% endif %}
  {% endfor %} 
</div>
