---
layout: default
---

<div class="container">
  <div class="hero">
    <h2 class="hero-heading">Newton Ni</h1> 
  </div>

  <hr>

  <div class="row">
    <div class="six columns offset-by-three columns">
      <h5 class="hero-heading">Latest Post</h5>
    </div>
  </div>

  <div class="row">

    {% assign post = site.posts.first %} 
    
    <h6 class="post-title">{{ post.title }} </h6> 
    <h6>{{ post.date | date: site.date_format }}</h6> 

    <p>{{ post.excerpt }}</p>

    <a href="{{ post.url }}" class="button is-hovering is-full" target="_blank">
      <i class="fa fa-arrow-circle-right"></i> Read More
    </a>
  </div>
</div>
