---
layout: default
---

<div class="container home">
  <div class="hero">
    <h1 class="hero-heading">Newton Ni</h1> 
    <h4 class="hero-heading">Software. Medicine. Music.</h4>
  </div>

  <hr>

  <div class="row">
    <div class="six columns">
      <h5 class="section-heading">Latest Post</h5>

        {% assign post = site.posts.first %} 
        
        <h6 class="title">{{ post.title }} </h6>
        <h6>{{ post.date | date: site.date_format }}</h6> 

        <p>{{ post.content }}</p>


    </div>        
    <div class="six columns">
      <h5 class="section-heading">Latest Project</h5> 

    </div>





  </div>
</div>