---
layout: default
---

<div class="container">

  {% if page.template == true %}
    {% assign posts = site.categories.[page.category] %}
  {% else %}
    {% assign posts = site.posts %}  
  {% endif %}

  {% for post in posts %}
    <div class="row">
      <div class="two columns post-title post-date">
        {{ post.date | date: site.date_format }}        
      </div> 
      
      <div class="ten columns">
        <a href="{{ post.url }}">
          <h5 class="post-title is-hovering">{{ post.title }}</h5>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="ten columns offset-by-two">

        {{ post.excerpt }} 

        {% for category in post.categories %} 
          <a href="/category/{{ category }}" class="button button-primary post-category is-hovering">
            {{ category }}
          </a> 
        {% endfor %} 
      </div>
    </div>
  
    {% if post != site.posts.last %}
    <div class="row">
      <hr>
    </div>
    {% endif %}
  {% endfor %} 

</div>
