---
layout: default
---

<div class="container">

  {% assign projects = site.projects | sort: "date" | reverse %}
  {% for project in projects %}

    <div class="row">

      <div class="three columns">
        <div class="">
          <a href="{{ project.github }}" class="button project-button is-hovering" target="_blank">
            <i class="fa {{ project.icon }} project-icon"></i>
          </a>
        </div>
      </div>
      
      <div class="nine columns">
          <h5 class="post-title">{{ project.title }}</h5>  

          {{ project.content }}
          
          {% for category in project.categories %}
            <a href="/category/{{ category }}" class="button button-primary post-category">
              {{ category }}
            </a>
          {% endfor %}
      </div>


    </div>

    {% if project != projects.last %}
    <div class="row">
      <hr>
    </div>
    {% endif %}
    
  {% endfor %} 

</div>